@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
html {
  scroll-behavior: smooth;
}
.info-section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-in-out;
}
.appear {
  opacity: 1;
  transform: translateY(0px);
}
